@{
    ViewData["Title"] = "Sobre la aplicación";
    ViewData["Message"] = "Aplicación para la creación y visualización de eventos";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Esta aplicación fue creado por para la materia de Desarrollo de aplicaciones moviles
    de la carrera Ingeniería Informática, Instituto Tecnológico de Tijuana</p>
